@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes scale {
  0% {
    transform: scale(0.1);
  }
  100% {
    transform: scale(1);
  }
}

a {
  text-decoration: none;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@mixin content($pageHeight) {
  height: $pageHeight;
  .bg {
    height: $pageHeight;
  }
  .content {
    height: calc($pageHeight - 20vh);
    background-image: linear-gradient(
      to bottom,
      transparent 0,
      transparent 10vh,
      rgba(255, 255, 255, 0.8) 10vh,
      rgba(255, 255, 255, 0.8) calc($pageHeight - 10vh),
      transparent calc($pageHeight - 10vh),
      transparent $pageHeight
    );
    .inside {
      height: calc($pageHeight - 30vh);
    }
  }
}
